/changelog
/*.log
/*.debhelper
/*.substvars
/files
/clearwater-snmp-handler-cdiv/
/clearwater-snmp-handler-memento-as/
/clearwater-snmp-handler-memento/
/clearwater-snmp-handler-astaire/
/clearwater-snmp-alarm-agent/
/clearwater-snmp-alarm-agent-dbg/
