[Unit]
Description=Clearwater SNMP alarm agent
Before=clearwater-monit.service

[Service]
ExecStart=/usr/share/clearwater/bin/clearwater-snmp-alarm-agent-wrapper
Restart=always
RestartSec=5s
LimitCORE=infinity

[Install]
WantedBy=clearwater-monit.service
