Source: clearwater-snmp-handlers
Section: network
Priority: optional
# This field must stay as 'Project Clearwater Maintainers', as
# clearwater-infrastructure explicitly checks for packages of this name when
# updating
Maintainer: Project Clearwater Maintainers <maintainers@projectclearwater.org>
Build-Depends: debhelper (>= 8.0.0), build-essential, libsnmp-dev, libboost-dev, libzmq3-dev
Standards-Version: 3.9.2
Homepage: http://projectclearwater.org/

Package: clearwater-snmp-handler-bono
Architecture: any
Depends: clearwater-snmpd
Description: The SNMP handler library for statistics about Bono

Package: clearwater-snmp-handler-sprout
Architecture: any
Depends: clearwater-snmpd
Description: The SNMP handler library for statistics about Sprout

Package: clearwater-snmp-handler-homestead
Architecture: any
Depends: clearwater-snmpd
Description: The SNMP handler library for statistics about Homestead

Package: clearwater-snmp-handler-alarm
Architecture: any
Depends: clearwater-snmpd
Description: The SNMP handler library for Clearwater alarm reporting
