Source: clearwater-snmp-handlers
Section: network
Priority: optional
# This field must stay as 'Project Clearwater Maintainers', as
# clearwater-infrastructure explicitly checks for packages of this name when
# updating
Maintainer: Project Clearwater Maintainers <maintainers@projectclearwater.org>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.2
Homepage: http://projectclearwater.org/

Package: clearwater-snmp-handler-bono
Architecture: amd64
Depends: clearwater-snmpd
Description: The SNMP handler library for statistics about Bono

Package: clearwater-snmp-handler-sprout
Architecture: amd64
Depends: clearwater-snmpd
Description: The SNMP handler library for statistics about Bono

