Source: clearwater-snmp-handlers
Section: network
Priority: optional
# This field must stay as 'Project Clearwater Maintainers', as
# clearwater-infrastructure explicitly checks for packages of this name when
# updating
Maintainer: Project Clearwater Maintainers <maintainers@projectclearwater.org>
Build-Depends: debhelper (>= 8.0.0), build-essential, libsnmp-dev, libboost-dev, libzmq3-dev
Standards-Version: 3.9.2
Homepage: http://projectclearwater.org/

Package: clearwater-snmp-handler-cdiv
Architecture: any
Depends: clearwater-snmpd
Description: The SNMP handler library for statistics about the Call Diversion AS

Package: clearwater-snmp-alarm-agent
Architecture: any
Breaks: clearwater-snmp-handler-alarm
Replaces: clearwater-snmp-handler-alarm
Depends: clearwater-snmpd, libboost-filesystem1.54.0
Description: The SNMP subagent for Clearwater alarm reporting

Package: clearwater-snmp-handler-memento-as
Architecture: any
Depends: clearwater-snmpd
Description: The SNMP handler library for statistics about the Memento AS

Package: clearwater-snmp-handler-memento
Architecture: any
Depends: clearwater-snmpd
Description: The SNMP handler library for statistics about Memento

Package: clearwater-snmp-handler-astaire
Architecture: any
Depends: clearwater-snmpd
Description: The SNMP handler library for statistics about Astaire
